<!DOCTYPE html>

{% load static %}
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <link rel="stylesheet" type="text/css" href="{% static "css/vehicles_list.css" %}" />
    <meta charset="UTF-8">
    <title>Amazon</title>

    <img src="{%  static "images/image001.png" %}" alt="Picture of Header" />
</head>
<body>
    <h1>Amazon says...</h1>
    hello world! <strong>{{ boldmessage }}</strong><br />
    <a href="/Amazon/about/">About</a><br />

</body>
</html>